<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.ApiDescription.Server" version="3.0.0" targetFramework="net5.0" developmentDependency="true" />
  <package id="Microsoft.OpenApi" version="1.2.3" targetFramework="net5.0" />
  <package id="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" version="1.11.1" targetFramework="net5.0" />
  <package id="Octokit" version="5.0.0" targetFramework="net5.0" />
  <package id="Swashbuckle.AspNetCore" version="5.6.3" targetFramework="net5.0" />
  <package id="Swashbuckle.AspNetCore.Swagger" version="5.6.3" targetFramework="net5.0" />
  <package id="Swashbuckle.AspNetCore.SwaggerGen" version="5.6.3" targetFramework="net5.0" />
  <package id="Swashbuckle.AspNetCore.SwaggerUI" version="5.6.3" targetFramework="net5.0" />
</packages>